h2 {
    background-color: lightcoral;
    color: black;
    border: 5px solid rgba(66, 218, 218, 0.699);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

hr{
    color: rgb(0, 0, 0);
    height: 10px;
    background-color: rgb(2, 2, 2);
}
